.loading {
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    display: none;
}

.loading .icon {
    background: url(../images/loading.gif) no-repeat center center / 50px 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}
